
  :root {
    /********************************************************
    * COMPANY LOGO
    *********************************************************/
    --company-logo-img-url: url("https://gmorgan-ping.github.io/kyxstart-poc/themes/kyxstart/images/logo.png");
    --company-logo-max-height: 60px;

    /********************************************************
    * PAGE BACKGROUND 
    *********************************************************/
    --background-image-url: url("https://gmorgan-ping.github.io/kyxstart-poc/themes/kyxstart/images/background.png");

    /********************************************************
    * CARD BODY
    *********************************************************/
    --card-background-color: rgb(255, 255, 255);
    --card-shadow-color: rgba(1, 32, 78, .35);

    /********************************************************
    * BODY
    *********************************************************/
    --body-font-family: 'Montserrat', 'sans-serif';
    --body-font-size: 0.95rem;

    /********************************************************
    * TEXT FONT COLORS
    *********************************************************/

    /*  PRIMARY FONT COLOR (RGB) */
    --text-color-primary: 32, 58, 94;

    /* HEADING FONT COLR (RBG) */
    --heading-text-color: 32, 58, 94;
    
    /*  MUTED TEXT ALPHA  */
    --text-color-muted-apha: 0.75;

    /*  ERROR FONT COLOR  */
    --text-color-error: rgb(163, 19, 0);

    /********************************************************
    * BUTTON ATTRIBUTES
    *********************************************************/

    /*  BUTTON FONT COLOR  */
    --button-primary-text-color: rgb(255, 255, 255);

    /*  BUTTON BACKGROUND COLOR (RGB)  */
    --button-primary-background-color: 39, 198, 219;
    
    /* LINK BUTTON FONT COLOR (RGB)  */
    --link-button-primary-color: 32, 58, 94;

    /* BUTTON BORDER RADIUS */
    --button-primary-border-radius: 12px;

    /*  BUTTON HOVER ALPHA  */
    --button-hover-alpha: 0.70;

    /*  BUTTON ACTIVE ALPHA  */
    --button-active-alpha: 0.80;

    /*  BUTTON DISABLED ALPHA  */
    --button-disabled-alpha: 0.65;

    --button-primary-disabled-background-color: 57, 181, 198;
    --button-primary-disabled-text-color: 255, 255, 255;

    /********************************************************
     * FORM CONTROLS
     *********************************************************/
    --form-control-border-radius: 12px;
    --card-body-border-radius: 11px;
    --focus-highlight-color: 39, 123, 165;

    /********************************************************
    * ACTIVITY INDICATOR & BUTTON SPINNER COLOR
    *********************************************************/

    --activity-indicator-color: rgb(68, 98, 237);

    --polling-indicator-color: rgb(68, 98, 237);

    /********************************************************
    * APPLYING TEXT COLOR - DO NOT CHANGE
    *********************************************************/
    /* H1,H2, H3, Body text color */
    --bs-body-color: rgb(var(--text-color-main)) !important;
    --bs-danger-rgb: var(--text-color-error);
  }

  
  
/********************************************************
* CLASSES BELOW ARE DERIVED FROM VALUES ABOVE
* DO NOT CHANGE UNLESS YOU HAVE CSS 'SKILLZ' :)
*********************************************************/

/*  COMPANY LOGO  */
.end-user-nano div.card-body > img:first-child,
.companyLogo {
  content: var(--company-logo-img-url) !important;
  height: var(--company-logo-max-height) !important;
  width: auto !important;
}

/*  BACKGROUND IMAGE  */
.end-user-nano div.bg-light {
  background-image:       var(--background-image-url);
  background-size:        cover;
  background-repeat:      no-repeat;
}

/*  HEADING TEXT  */
.end-user-nano h1, .end-user-nano h2, .end-user-nano h3, .end-user-nano h4 {
  color: rgb(var(--heading-text-color)) !important;
}

/*  BODY FONT & COLOR  */
.end-user-nano .card-body {
  /*  font family */
  font-family: var(--body-font-family) !important;
  /*  font size */
  font-size: var(--body-font-size) !important;
  /*  font color */
  color: rgb(var(--text-color-primary)) !important;
  /*  background color */
  background-color: var(--card-background-color) !important;
}

/*  MUTED PARAGRAPH  */
.end-user-nano p.text-muted {
  color: rgba(var(--text-color-primary), var(--text-color-muted-apha)) !important;
}

/*  ERROR MESSAGE PARAGRAPH  */
.end-user-nano .card .text-danger {
  color: var(--text-color-error) !important;
}

/*  FORM CONTROL FONT COLOR  */
.form-control,
.form-control:focus {
  color: var(--text-color-primary) !important;
  border-radius: var(--form-control-border-radius) !important;
}

/*  FORM CONTROL PLACEHOLDER FONT COLOR  */
.end-user-nano .form-floating input+label {
  color: rgba(var(--text-color-primary), var(--text-color-muted-apha)) !important;
}

/*  FORM CONTROL HIGHLIGHT  */
.end-user-nano .form-control:focus {
  border-color: rgba(var(--focus-highlight-color), .5) !important;
  box-shadow: 0 0 0 0.25rem rgba(var(--focus-highlight-color), 0.25) !important;
}

/*  PRIMARY BUTTON  */
.end-user-nano button.btn.btn-primary {
  /*  font color  */
  --bs-btn-color: var(--button-primary-text-color) !important;
  /*  font color when hovering  */
  --bs-btn-hover-color: var(--button-primary-text-color) !important;
  /*  border color  */
  --bs-btn-border-color: var(--button-primary-background-color) !important;
  /*  background color  */
  --bs-btn-bg: rgb(var(--button-primary-background-color)) !important;
  /*  background color when hovering  */
  --bs-btn-hover-bg: rgba(var(--button-primary-background-color), var(--button-hover-alpha)) !important;
  /*  background color when active  */
  --bs-btn-active-bg: rgba(var(--button-primary-background-color), var(--button-active-alpha)) !important;
  /*  background color when disabled  */
  --bs-btn-disabled-bg: rgba(var(--button-primary-background-color), var(--button-disabled-alpha)) !important;
  background-color: rgb(var(--button-primary-background-color)) !important;
  border-color: rgb(var(--button-primary-background-color)) !important;
  color: var(--button-primary-text-color) !important;
  border-radius: var(--button-primary-border-radius) !important;
}


.end-user-nano button.btn-primary:hover {
  background-color: rgba(var(--button-primary-background-color), var(--button-hover-alpha)) !important;
  border-color: rgba(var(--button-primary-background-color), var(--button-hover-alpha)) !important;
  color: var(--button-primary-text-color) !important;
}

/*  LINK BUTTON  */
.end-user-nano button.btn-link {
  /*  button font color  */
  --bs-btn-color: rgb(var(--link-button-primary-color)) !important;
  /*  button font color when active  */
  --bs-btn-active-color: rgba(var(--link-button-primary-color), var(--button-active-alpha)) !important;
  /*  button font color when hovering  */
  --bs-btn-hover-color: rgba(var(--link-button-primary-color), var(--button-hover-alpha)) !important;
  /*  button font color when disabled  */
  --bs-btn-disabled-color: rgba(var(--link-button-primary-color), var(--button-disabled-alpha)) !important;
  color: rgb(var(--link-button-primary-color)) !important;
}

/* DISABLED BUTTON */
.btn:disabled, .btn.disabled, fieldset:disabled .btn {
	color: rgb(var(--button-primary-disabled-text-color)) !important;
	background-color: rgb(var(--button-primary-disabled-background-color)) !important;
	border-color: rgb(var(--button-primary-disabled-background-color)) !important;
	/* opacity: var(--bs-btn-disabled-opacity); */
}

/*  POLLING INDICATORS  */
.css-11k6vsm,
.css-17zi2ag,
.css-139roxj {
  /* width: 20px; */
  /* height: 20px; */
  /* animation-duration: 0.75s; */
  /*  circle background color  */
  background-color: var(--polling-indicator-color) !important;
}

/*  BUTTON ACTIVITY INDICATOR, PROGRESS SPINNER  */
.css-sw2ho0 {
  /*  spinning circle color  */
  --primary-color: var(--activity-indicator-color) !important;
}

/* PROGRESS SPINNER */
.spinner-color {
  color: var(--polling-indicator-color) !important;
}

.card-body.p-5.d-flex.flex-column {
  border-radius: var(--card-body-border-radius);
}

.end-user-nano div.card.shadow {
  border-radius: var(--card-body-border-radius) !important;
  box-shadow: 1px 1px 3px 1px var(--card-shadow-color) !important;
}
